/* =============
    Base
============= */
/* =============
    Typography
============= */
* {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 128px;
  margin-top: 125px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

ul li {
  display: list-item;
  padding-left: 2px;
  border-left: 120px;
  border-left-color: #FB8134;
  align-items: center;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: #FB8134;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

#hero-nav {
  background-image: url("../img/nav/hero.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 584px;
}

/* =============
    Designers
============= */
.container {
  margin: 0 auto;
  width: 65%;
}

.designer {
  display: grid;
  grid-template-areas: "image bio" "name name";
  grid-template-columns: auto auto;
}
.designer .image {
  grid-area: image;
}
.designer .bio {
  color: #6A696C;
  grid-area: bio;
  padding-left: 64px;
  margin: auto;
}
.designer .name {
  grid-area: name;
  color: #FB8134;
  font-size: 32px;
  line-height: 1;
  margin-left: -20px;
  margin-top: -60px;
  text-transform: uppercase;
}

/* =============
    Lookbooks
============= */
/* =============
    Showrooms
============= */
.container {
  width: 90%;
  margin-left: 18px;
  margin-right: 18px;
}

.column {
  display: grid;
  grid-template-areas: "image" "info";
}
.column .image {
  grid-area: image;
  height: 216px;
}
.column .image #VienImage {
  background-image: url("../img/showrooms/vien.png");
  background-repeat: no-repeat;
}
.column .info {
  grid-area: info;
  color: #323233;
}
