/* =============
    Lookbooks
============= */

h1 {
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  color: #323233;
}

.lookbook-image-container {
  align-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.lookbook-image-scrollable {
  max-height: 760px;
  border: none;
  display: flex;
  overflow-x: auto;
}

.lookbook-image-scrollable::-webkit-scrollbar{
  width: 0;
}

.lookbook-image-scrollable .lookbook-image {
  min-width: 270px;
  height: 755px;
  line-height: 755px;
  margin-right: -5px;
  align-items: center;
}


/* =============
    grid
============= */


img {
  min-width: 380px;
  max-width: 380px;
}

#grid {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #6A696C;
  }
}

#one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 300px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 100px;
}

#two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 100px;
}

#three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 110px;
}

#four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 110px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 100px;
}

#five {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 75px;
}



/* =============
    Quote and Button
============= */

#quote {
  display: grid;
  height: 600px;
  grid-template-columns: 600px;
  color: #323233;
  


  
}

h3 {
  margin-top: 70px;
  margin-right: 50px;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;

}


.button {
  text-align: right;
  padding-right: 135px;
  margin-top: 0px;
  margin-bottom: 185px;
}

.button-detail {
  border: none;
  text-decoration: underline;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  background: none;
  color: #323233;
}