/* =============
    Lookbooks
============= */


.lookbook-image-container {
    max-height: 475px;
    height: 100%;
    width: 100%; 
    overflow-x: scroll; 
  }
   
  .lookbook-image-scrollable {
    overflow: hidden;
    height: 470px;
    width: 1344px;
    max-height: 475px;
  }
   
  .lookbook-image {
    float: left;
  }
  
  h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    color: #323233;
  }

  .button {
    text-align: right;
    padding-right: 135px;
    margin-top: -85px;
    margin-bottom: auto;
  }
  
  .button-detail {
    border: none;
    text-decoration: underline;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    background: none;
    color: #323233;
  }
  