* {
    margin: 0;
    padding: 0;
    
}

ul {
    margin-left: 128px;
    margin-top: 125px;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

ul li {
    display: list-item;
    padding-left: 2px;
    border-left: 120px;
    border-left-color: #FB8134;
    align-items: center;
    justify-content: center;
   
}

ul li a {
    text-decoration: none;
    color: #FB8134;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
}

#hero-nav{
    background-image: url("../img/nav/hero.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 584px;
}