/* =============
    Showrooms
============= */





    h1 {
        font-size: 100px;
        font-family: 'Poppins', sans-serif;
        color: #323233;
      }

      .button {
        text-align: right;
        padding-right: 135px;
        margin-top: -85px;
        margin-bottom: auto;
      }
      
      .button-detail {
        border: none;
        text-decoration: underline;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        background: none;
        color: #6A696C;
      }

    #details {
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 16px;
        color: #323233;
        
    }