/* =============
    Header
============= */

img {
    max-width: 355px;
}

h6 {
    float: right;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    color: #515151;
    padding-top: 0px;
    padding-right: 30px;
}

